
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p style="font-family:Canela-Regular;font-size:25px">
    We are making an app to search for a query in a database and gives result of the best match answer.This is an AI based app, and its quality can be increased by increasing database.If it is unable to give Answer of your query then you can use additionally provided search box which will search the web and give possible results related to your query.For first time search on additional search box needs a subscription key which can be entered as either of these two:<br />Key 1: 28c8e43bf858432da0bfcb5638f261c4

   <br /> Key 2: 733bac251b88498184722c6e00e84995
</p>