@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Uttar Pradesh(India) <br />
    IIT Kanpur  <br />
    Hall 5<br />
    <abbr title="Phone">Ph:</abbr>
    NA
</address>

<address>
    <strong>Support:</strong> <a href="mailto:sarthakkumar160627@hotmail.com">Sarthak kumar</a><br />
    <strong>Marketing:</strong> <a href="mailto:rahulxsingh123@gmail.com">Rahul Singh</a>
</address>

<p><strong>Team Members: <br /></strong>
    1.Sarthak Kumar  <br />
    2.Rahul Singh    <br />
    3.Nikunj Jha</p>